/* Bootstrap imported in main.jsx */


/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-gray-400;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-gray-700 hover:bg-gray-600;
}